* {
    margin: 0;
    padding: 0;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
th {
    background-color: green;
    font-weight: bold;
    color: white;
}
tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.low-score {
    background-color: #f8d7da;
    color: #c0392b;
}

